{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="about">
    <h2>このサイトについて</h2>
    <p>このサイトは、駆け出しエンジニア　オオタカケンジ　によるポートフォリオサイトです。</p>
    <h3>【利用方法】</h3>
    <ol>
        <li>1. ユーザー名とパスワードを設定して新規会員登録をしてください。</li>
        <li>2. メンバーを募集したい方は記事を書いてみましょう！マイページから新しく作ることができます！<br>
            (本サイトはオーディオファイルの添付が必須となっています。他人の曲や演奏を貼っちゃダメです。)</li>
        <li>3. 「さがす」メニューから、自分に合う条件の記事を検索してみましょう！</li>
        <li>4. 気になる記事が見つかったら、その投稿者とチャットでお話ししてみましょう！記事の詳細ページから、相手とのチャットルームに入れます。</li>
    </ol>

    <h3>【学習の目的】</h3>
    <ul>
        <li>・Djangoとpython、バックエンドの学習</li>
        <li>・MVCフレームワークの学習（Djangoは正式にはMVTですが）</li>
        <li>・Webサービスとして最低限、一通りの機能を有するアプリをゼロから自分で考え実装する経験を得る。</li>
        <li>・大手メン募サイトは音源を外部アプリへのリンクという形でしか聴けないので、<br>
            外部に飛ばずとも簡単に音を聴いてメンバーを探せるサービスがあったらいいのにと思っていたので作ってみた</li>
    </ul>
    
    <h3>【実装した機能】</h3>
    <ul>
        <li>・新規会員登録</li>
        <li>・ログイン、ログアウト機能</li>
        <li>・記事の新規作成、編集、削除</li>
        <li>・記事の一覧表示</li>
        <li>・記事の個別表示</li>
        <li>・記事の検索</li>
        <li>・他ユーザーとのLINE風リアルタイムチャット</li>
        <li>・やりとりしているユーザーの一覧表示</li>
        <li>・オーディオファイルのアップロード</li>
        <li>・簡易オーディオプレイヤー</li>
    </ul>

    <h3>【今後追加したい機能】</h3>
    <ul>
        <li>・ページネーション</li>
        <li>・コミュニティ機能</li>
        <li>・本格的なオーディオプレイヤー</li>
        <li>・OAuth認証</li>
    </ul>

    <h3>【このアプリで使用した技術・ツール等】</h3>
    <ul>
        <li>・Django</li>
        <li>・Python</li>
        <li>・Channels</li>
        <li>・Django-debug-toolbar</li>
        <li>・WebSocket</li>
        <li>・Heroku</li>
        <li>・Git</li>
        <li>・GitHub</li>
        <li>・Docker</li>
        <li>・Redis</li>
        <li>・AWS(S3)</li>
        <li>・Adobe XD</li>
        <li>・HTML5</li>
        <li>・CSS3</li>
        <li>・Javascript</li>
        <li>・jQuery</li>
        <li>・レスポンシブ</li>
        <li>・(memchached)</li>
        <li>↑表示速度改善のため一度は実装するも、<br>
            不可欠なリアルタイム性との兼ね合いを考えた結果、使用を中止。</li>
    </ul>

    <h3>【オオタカケンジの経験・スキルセット（上記以外）】</h3>
    <ul>
        <li>・PHP＋MySQL（スクラッチで簡易的な掲示板を作った程度です）</li>
        <li>・WordpressでのHP制作</li>
        <li>・Vue.js（jQueryの代替として、上記wpサイトに使用。ハンバーガーメニューやモーダルウィンドウを作った程度。）</li>
        <li>・Linux（CLI）＊業務経験</li>
        <li>・VMWare（ESXi）による仮想マシン構築　＊業務経験</li>
        <li>・オンプレでのサーバー構築（LAMP環境構築）＊業務経験</li>
        <li>・AWS（VPC,EC2）でのインフラ構築</li>
        <li>・Swift（簡単な単機能アプリを作った程度）</li>
        <li>・Adobe Illusrator</li>
        <li>・Adobe Photoshop *業務で基本機能を使用</li>
    </ul>
    
    <h3>【その他】</h3>
    <p>・勉強が趣味みたいなもの（プログラミングも、それ以外も）</p>
    <p>・新しい技術を積極的に身につけたいです。このアプリ作り終えたらブロックチェーンの勉強をしたいと思っています。</p>
    <p>・多趣味&そこそこ社会問題等への関心も高いので、それらとプログラミングを結び付けて、<br>
        社会の役に立つもの、自分と同じ趣味の人たちの役に立つもの、完全に自己満足なもの等、どんどん作ってみたいです</p>
</div>
{% endblock %}
