{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>membo</title>
</head>
<body>
    <div id="container-all">
        <header>
            <div id="header-contents-container">
                <div id="title-logo">
                    <h1>membo</h1>
                </div>
                <nav id="header-menu-container">
                    <ul>
                        <div class="header-menu-list">
                            <img src="" class="header-menu-list-icon" alt="menu-icon" srcset="">    
                            <p class="header-menu-list-text">さがす</p>
                        </div>
                    </ul>
                    <ul>
                        <div class="header-menu-list">
                            <img src="" class="header-menu-list-icon" alt="menu-icon" srcset="">                
                            <p class="header-menu-list-text">コミュニティ</p>
                        </div>
                    </ul>
                    <ul>
                        <div class="header-menu-list">
                            <img src="" class="header-menu-list-icon" alt="menu-icon" srcset="">
                            <p class="header-menu-list-text">マイページ</p>
                        </div>
                    </ul>
                    <ul>
                        <div class="header-menu-list">
                            <img src="" class="header-menu-list-icon" alt="menu-icon" srcset="">
                            <p class="header-menu-list-text">ログイン</p>
                        </div>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div id="main-container">
                <div id="main-container-contents">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="main-container-ad-sidebar">
                    広告欄
                </div>
            </div>
        </main>
        <footer>
            <small class="copyrights">
                <p>
                    ©2020.otkken2
                </p>
            </small>
        </footer>
    </div>
</body>
</html>