{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="post-container">
    <ol class="breadcrumb">
        <li><a href="{% url 'app:index' %}"><small>トップページ</small></a></li>
        <li><a href="{% url 'app:mypage' %}"><small>マイページ</small></a></li>
        <li><small>記事の編集</small></li>
    </ol>
    <h2>記事の編集</h2>
    <div class="post-tabpanel-container">
        {% include "app/bosyuu-article.html" %}
        <div id="kanyuu">

        </div>
        <div>
            <a href="{% url 'app:bosyuu_detail' postcontent.id %}"></a>
        </div>
    </div>
</div>
{% endblock %}