{% extends 'app/base.html' %}


{% block content %}
<div class="post-container">
    <ol class="breadcrumb">
        <li><a href=""><small>トップページ</small></a></li>
        <li><a href=""><small>マイページ</small></a></li>
        <li><a href=""><small>記事の管理</small></a></li>
        <li><a href=""><small>記事の編集</small></a></li>
    </ol>
    <h2>記事の編集</h2>
    <div class="post-tabpanel-container">
        <ul>
            <li><a href="#bosyuu">メンバー募集記事</a></li>
            <li><a href="#kanyuu">バンド加入希望記事</a></li>
        </ul>
        <div id="bosyuu"><!-- TODO　できればここを部品化する -->
            <form  method="POST" class="post-tabpanel-bosyuuform" enctype="multipart/form-data" >{% csrf_token %}
                <div class="fields form-title">
                    <h3>{{ form.title.label }}</h3>
                    {{ form.title }}                
                </div>
                <div class="fields form-sound">
                    <h3>{{ form.sound.label }}</h3>
                    {{ form.sound }}
                </div>
                <div class="fields form-text">
                    <h3>{{ form.text.label }}</h3>
                    {{ form.text }}
                </div>
                <div class="fields form-active_area">
                    <h3>{{ form.active_area.label }}</h3>
                    {{ form.active_area }}
                </div>
                <div class="fields form-mypart">
                    <h3>{{ form.mypart.label }}</h3>
                    {{ form.mypart }}
                </div>
                <div class="fields form-recruite_part">
                    <h3>{{ form.recruite_part.label }}</h3>
                    {{ form.recruite_part }}
                </div>
                <div class="fields form-genre">
                    <h3>{{ form.genre.label }}</h3>
                    {{ form.genre }}
                </div>
                <div class="fields form-favorite">
                    <h3>{{ form.favorite.label }}</h3>
                    {{ form.favorite }}
                </div>
                <div class="fields form-days-of-theweek">
                    <h3>{{ form.days_of_theweek.label }}</h3>
                    {{ form.days_of_theweek }}
                </div>
                <br>
            <button type="submit" class="button">この内容で保存</button>
           </form>
        </div>
        <div id="kanyuu">

        </div>
        <div>
            <a href="{% url 'app:bosyuu_detail' postcontent.id %}"></a>
        </div>
    </div>
</div>
{% endblock %}