{% load widget_tweaks %}
<form  method="POST" class="post-tabpanel-bosyuuform" enctype="multipart/form-data" >{% csrf_token %}
    <div class="fields form-title">
        <h3>{{ form.title.label }}</h3>
        {{ form.title|add_class:"post-form-title"}}                
    </div>
    <div class="fields form-sound">
        <h3>{{ form.sound.label }}</h3>
        {{ form.sound|add_class:"post-form-sound" }}
    </div>
    <div class="fields form-text">
        <h3>{{ form.text.label }}</h3>
        {{ form.text|add_class:"post-form-text" }}
    </div>
    <div class="fields form-active_area">
        <h3>{{ form.active_area.label }}</h3>
        {{ form.active_area|add_class:"post-form-active_area" }}
    </div>
    <div class="fields form-mypart">
        <h3>{{ form.mypart.label }}</h3>
        {{ form.mypart|add_class:"post-form-mypart" }}
    </div>
    <div class="fields form-recruite_part">
        <h3>{{ form.recruite_part.label }}</h3>
        {{ form.recruite_part|add_class:"post-form-recruite_part" }}
    </div>
    <div class="fields form-genre">
        <h3>{{ form.genre.label }}</h3>
        {{ form.genre|add_class:"post-form-genre" }}
    </div>
    <div class="fields form-favorite">
        <h3>{{ form.favorite.label }}</h3>
        {{ form.favorite|add_class:"post-form-favorite" }}
    </div>
    <div class="fields form-days_of_theweek">
        <h3>{{ form.days_of_theweek.label }}</h3>
        {{ form.days_of_theweek|add_class:"post-form-days_of_theweek" }}
    </div>
    <br>
    <div class="button-container">
        <button type="submit" class="btn-post-create">この内容で保存</button>
    </div>
</form>