{% extends 'app/base.html' %}

{% block content %}
{% for postcontent in postcontents %}
    <div class="post">
        
        {{ postcontent.post_date }}<br>
        {{ postcontent.update_date }}<br>
        {{ postcontent.title }}<br>
        {{ postcontent.sound.filename }}<br><!-- あとでここも考える。 -->
        {{ postcontent.text }}<br>
        
        {% for active_area in postcontent.active_area.all %}
            {{ active_area }}<br>
        {% endfor %}

        
        {{ postcontent.favorite }}<br>

        {% for mypart in postcontent.mypart.all %}
        {{ mypart }}<br>
        {% endfor %}
        
        {% for recruite_part in postcontent.recruite_part.all %}
        {{ recruite_part }}<br>
        {% endfor %}

        {% for genre in postcontent.genre.all %}
        {{ genre }}<br>
        {% endfor %}

        
        
        <!-- <audio src="../../../media/uploads/
            {% for sound in postcontent.sound.all %}
                'もう来ない町.mp3'
            {% endfor %}
        " controls></audio> -->

        
        <audio controls>
            <source src="{{ postcontent.sound.url }}" type="audio/mp3" />
        </audio>

        <!-- {% for sound in postcontent.sound.all %} -->
        <!-- <audio controls>
            <source src="{{ postcontent.sound.url }}" type="audio/mp3" />
        </audio> -->
        <!-- {% endfor %} -->

        

    </div>
{% endfor %}
{% endblock %}