{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="post-container">
    <ol class="breadcrumb">
        <li><a href=""><small>トップページ</small></a></li>
        <li><a href=""><small>マイページ</small></a></li>
        <li><a href=""><small>記事の管理</small></a></li>
        <li><a href=""><small>記事の編集</small></a></li>
    </ol>
    <h2>記事の編集</h2>
    <div class="post-tabpanel-container">
        <ul>
            <li><a href="#bosyuu">メンバー募集記事</a></li>
            <li><a href="#kanyuu">バンド加入希望記事</a></li>
        </ul>
        {% include "app/bosyuu-article.html" %}
        <div id="kanyuu">

        </div>
        <div>
            <a href="{% url 'app:bosyuu_detail' postcontent.id %}"></a>
        </div>
    </div>
</div>
{% endblock %}