{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="post-container">
    <ol class="breadcrumb">
        <li><a href="{% url 'app:index' %}"><small>トップページ</small></a></li>
        <li><a href="{% url 'app:mypage' %}"><small>マイページ</small></a></li>
        <li><small>新規作成</small></li>
    </ol>
    <h2>記事の新規作成</h2>
    <div class="create-post-container">
        <div class="bosyuu"><!-- TODO　できればここを部品化する -->
            {% include "app/bosyuu-article.html" %}
        </div>
        <div class="kanyuu">

        </div>
    </div>
</div>
{% endblock %}