{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="posts">
    <section class="post">
        <img class="play-button" src="" alt="再生ボタン" srcset="">
        <div class="post-body"><!-- play-button以外の部分を纏めてflexbox制御する為のdivです -->
            <div class="post-header">
                <div class="post-title">
                    <h3>
                        当方ボーカル希望！ほか全パート募集！
                    </h3>
                </div>
                <div class="post-meta">
                    （男・32歳　2020/1/14投稿）
                </div>
            </div>
            <div class="post-contents">
                <div class="post-content-text">
                    <ul>
                        <li>担当パート:Vo</li>
                        <li>募集パート:Ba,Dr,Key,Sax</li>
                        <li>活動地域:東京</li>
                        <li>影響:はっぴいえんど・大滝詠一・細野晴臣・キセル（他6アーティスト）</li>
                    </ul>
                </div>
                <div class="post-content-sound">
                        再生バーをここに作るよ
                </div>
            </div>
        </div>
    </section>

    <section class="post">
        <img class="play-button" src="" alt="再生ボタン" srcset="">
        <div class="post-body"><!-- play-button以外の部分を纏めてflexbox制御する為のdivです -->
            <div class="post-header">
                <div class="post-title">
                    <h3>
                        当方ボーカル希望！ほか全パート募集！
                    </h3>
                </div>
                <div class="post-meta">
                    （男・32歳　2020/1/14投稿）
                </div>
            </div>
            <div class="post-contents">
                <div class="post-content-text">
                    <ul>
                        <li>担当パート:Vo</li>
                        <li>募集パート:Ba,Dr,Key,Sax</li>
                        <li>活動地域:東京</li>
                        <li>影響:はっぴいえんど・大滝詠一・細野晴臣・キセル（他6アーティスト）</li>
                    </ul>
                </div>
                <div class="post-content-sound">
                    再生バーをここに作るよ
                </div>
            </div>
        </div>
    </section>


</div>
{% endblock %}