<section class="post">
    
    <div class="post-body">
        <div class="post-header">
            <div class="post-title">    
                <a href="{% url 'app:bosyuu_detail'　postcontent_id=postcontent.id %}"> <!--  bosyuu_detailの中身は後に正しい内容に変更する。その際、記事の主キーを渡すようにこのhrefも変更する。-->
                    <h3>{{ postcontent.title }}</h3>
                </a>
            </div>
            <div class="post-meta">
                （{{ postcontent.author }}/投稿日時：{{ postcontent.post_date }}）
            </div>
        </div>
        <div class="post-contents">
            <div class="post-content-sound">
                <audio controls><source src="{{ postcontent.sound.url }}" type="audio/mp3" /></audio>
            </div>
            <div class="post-content-issues">
                <ul>
                    <li>担当パート:
                        {% for mypart in postcontent.mypart.all %}
                            {{ mypart }},
                        {% endfor %}
                    </li>
                    <li>募集パート:
                        {% for recruite_part in postcontent.recruite_part.all %}
                            {{ recruite_part }},
                        {% endfor %}
                    </li>
                    <li>活動地域:
                        {% for active_area in postcontent.active_area.all %}
                            {{ active_area }},
                        {% endfor %}
                    </li>
                    <li>影響:
                        {{ postcontent.favorite }}
                    </li>
                    <li>ジャンル:
                        {% for genre in postcontent.genre.all %}
                            {{ genre }},
                        {% endfor %}
                    </li>
                    <li>
                        曜日:
                        {% for days_of_theweek in postcontent.days_of_theweek.all %}
                        {{ days_of_theweek }}
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>